// Variables

$textColor: #000;
$textColorSelect:  #828282;

$fontPopinsBold: 'Poppins Bold', sans-serif;
$fontPopinsMedium: 'Poppins Medium', sans-serif;
$fontPopinsRegular: 'Poppins Regular', sans-serif;
$overlayImg: rgba(255, 255, 255, 0.7);

